@font-face {
  font-family: 'MyWebFont';
  src: url('webfont.eot'); /* IE9 Compat Modes */
  src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

html, body {
  height:100%;
  width:100%;
  margin:0;
}
.navbar{
  background-color: #D6E9A1;
  padding-top: 20px;
  padding-left: 40px;
  padding-bottom:5px;
  font-family: 'MyWebFont', Fallback, sans-serif;
  font-weight: bolder;
}

.navbar-brand{
  color:black;
  text-decoration:none;
  letter-spacing: 3px;
}

.container{
    padding-left: 40px;
    height:10%
}
.thehead{
  font-family: 'MyWebFont', Fallback, sans-serif;
  padding-top: 20px;
  font-size: 50px;
  letter-spacing: 5px;
  font-weight: bold;
}

.thesub{
  margin-top: -30px;
  font-family: 'MyWebFont', Fallback, sans-serif;
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: lighter;
}

.mainbtn{
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 22px 35px;
  font-size: 16px;
  cursor: pointer;
  border-width: 4px;
  border-radius: 15px;
  font-family: 'MyWebFont', Fallback, sans-serif;
  letter-spacing: 3px;
  font-weight: bolder;
  margin-top: 25px;
}

.mainbtn:hover{
  background-color: #FFDAB9;
  color: white;
}


.row1{
  border-radius: 5px;
  background-color:lightblue;
  padding: 20px 20px 20px 20px;
  font-family: 'MyWebFont', Fallback, sans-serif;
  letter-spacing: 3px;
  font-weight: bolder;
}

.questions{

  font-family: 'MyWebFont', Fallback, sans-serif;
  font-size: 25px;
  letter-spacing: 5px;
  font-weight: bolder;
  padding-left: 40px;

}

.submitbtn{
  margin-left: 40px;
  background-color: #c4fbc4;
  color: black;
  padding: 22px 35px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 15px;
  font-family: 'MyWebFont', Fallback, sans-serif;
  letter-spacing: 3px;
  font-weight: bolder;
  margin-top: 25px;
}

.submitbtn:hover{
  background-color: #bee7be;
  color: white;
}

.bottom-section{
  margin-top:100px;
}


.content{
  margin-top: 40px;
  font-family: 'MyWebFont', Fallback, sans-serif;
  letter-spacing: 3px;
  font-size: 25px;
  margin-left: 40px;
}

.wrapper{
  text-align: center;
  height: auto;
  width:100vw;
  margin-bottom: 5%;
}

.box{
  width: 70vw;
  height: auto;
  background-image: linear-gradient(#FFCACA, #FF9999);
  display: inline-block;
  border-radius: 20px;
  margin-bottom: 50px;
}

.title{
  font-family: 'MyWebFont', Fallback, sans-serif;
  letter-spacing: 3px;
  font-size:20px;
  font-weight:bold;
}

.description{
  font-family: 'MyWebFont', Fallback, sans-serif;
  line-height: 10%;
}

.photos{
  text-align:center;
  height: auto;
  margin-bottom: 2vh;
  margin-top:3vh;
}

.left{
  width: 28vw;
  height: 28vw;
  margin-right: 0.7vw;
  background-color: #dedede;
  display: inline-block;
  border-radius: 10px;
  margin-bottom: 1.4vw;
}

.right{
  width: 28vw;
  height: 28vw;
  margin-left:0.7vw;
  background-color: #dedede;
  display: inline-block;
  border-radius: 10px;
  margin-bottom: 1.4vw;
}

.center{
  width: 28vw;
  height: 28vw;
  background-color: #dedede;
  display: inline-block;
  border-radius: 10px;
  margin-bottom: 1.4vw;
}

.custom-select1{
  margin-bottom: 15px;
}
